@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lora:400i');

body{
    background: #0b0b0b;
    padding: 0;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
.pre-loader{
    background: #161616;
    width: 100%;
    height: 100vh;

}

.pre-loader .cargando h1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-80%,-40%);
    color: #b2b2b2;
    font-size: 200px;
    font-weight: bolder;
    margin-top: -10px;
}
.pre-loader .cargando span{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(50%,-41%);
    color: #b2b2b2;
    font-size: 200px;
    font-weight: bold;
    margin-top: -10px;
}