@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lora:400i');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

body {
    zoom:99.3%;
    background:url("output.svg");
    background-size: cover;
    margin: 50px;
    padding-left:20px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.cabecera .box h1 {
    height: 50px;
    font-size: 70px;
    color: #fff;
    text-align: center;
}
.cabecera p {
    text-align: justify;
    color: #EB8017;
}
.container {
    width: 1000px;
    margin: 20px auto 0;
    color: #fff;
}
.container .box {
    width: 170px;
    float: left;
    margin: 8px;
}
.container .box h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    transform: translateX(29px);
}
.container .box span {
    transform: translateX(70px);

}

.container .box .chart,
.container .box .chart2,
.container .box .chart3,
.container .box .chart4,
.container .box .chart5,
.container .box .chart6,
.container .box .chart7,
.container .box .chart8{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 32px;
    text-align: center;
    font-size: 40px;
    line-height: 170px;
    color: #fff;
}

.container .box canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#habilidad {
    width: 1200px;
    height: 200px;
}
#sec2 {
    width: auto;
    height: 1200px;
    /*background: #DFBE3A;*/
}
section .s3 {
    margin: 30px;
    padding: 10px;
    width: auto;
    height: 300px;
    z-index: 1;
    mix-blend-mode: color;
    
}
.s3 h1 {
	position: relative;
    text-align: center;
    font-size: 40px;
    color: #fff;
    filter: blur(.3px);
    /*text-shadow:0 0 10px rgba(255,255,255,1),
			    0 0 20px rgba(255,255,255,1),
			    0 0 40px rgba(255,255,255,1),
			    0 0 80px rgba(255,255,255,1),
			    0 0 160px rgba(255,255,255,1);*/

}
.s3 h2, .s3 p {
    position: relative;
    margin: 0;
    padding: 0;
	justify-content: center;
    font-size: 25px;
    color: #358AF0;
    filter: blur(.1px);
    text-shadow:0 0 10px rgba(53, 138, 240,.5),
			    0 0 20px rgba(53, 138, 240,.5),
			    0 0 40px rgba(53, 138, 240,.5),
			    0 0 80px rgba(53, 138, 240,.5),
			    0 0 160px rgba(53, 138, 240,.5);
	
}

section .s4 {
    margin: 10px;
    padding: 10px;
    width: auto;
    height: 500px;
    /*background: url(imagenes/bg1.jpg);
 	background-size: cover;*/
 	
 

}
.contenedor{
    height: 1050px;
    width: 1388px;
    margin-left: 20px;

}
.chartss{
    width: auto;
    height: 700px;

}
footer {
    width: auto;
    height: 100px;
    /*background: #E24343;*/
}
footer p {
    color: #FFFFFF;
    text-align: center;
    transform: translateX(-70px);
}
.lis {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lis li {
    list-style: none;
    margin: 0 20px;
    transform: translateX(-70px);
}
.lis li a {
    color: #777;
    font-size: 2em;
    transition: 0.5s;
}
.lis li a:hover {
    color: #fff;
}
/*.perfil
{
	margin: 0px auto 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 20px;
}*/
.perfil .tarjeta
{
    float: left;
    position: relative;
    width: 430px;
    height: 560px;
	margin: 0 auto;
	background: #333;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 0 10px 40px rgba(0,0,0,.5);
	overflow: hidden;
}
.perfil .tarjeta .capa
{
	position: absolute;
	top: 98%;
	left: 0;
	width:100%;
	height: 100%;
	background: linear-gradient(rgb(32, 35, 36),rgb(43, 49, 66));
	z-index: 1;
	transition: 0.5s;
}
.perfil .tarjeta:hover .capa
{
	top: 0;
}
.perfil .tarjeta .contenido
{
	position: relative;
	z-index: 2;

}
.perfil .tarjeta .contenido p
{
	font-size: 16px;
	line-height: 18px;
    color: #fff;
}
.perfil .tarjeta .contenido h1
{
	font-size: 35px;
	line-height: 5px;
	color: #fff;
}
.perfil .tarjeta:hover .contenido h1
{
	color: rgb(208, 204, 211);
}
.perfil .tarjeta .contenido .detalles
{
    transform:translateY(-12px);
    color: rgb(75, 125, 185);
}
.perfil .tarjeta .contenido .detalles span
{
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    color:whitesmoke;
}
.perfil .tarjeta:hover .contenido .detalles span
{
    color: rgb(221, 125, 46);

}
.perfil .tarjeta:hover .contenido .detalles h2
{
	font-size: 19px;
	color: rgb(253, 248, 244);
}
.perfil .tarjeta:hover .contenido .detalles
{
	font-size: 18px;
	color: rgb(253, 248, 244);
}
.perfil .tarjeta .contenido .rostro
{
	width: 180px;
	height:180px;
	margin: 0 auto;
	border-radius:50%;
	overflow: hidden;
	border: 7px solid  rgb(247, 135, 43);
	box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.social-tarjeta .lis li {
    transform: translate(-5px, -12px);
    margin: 0 12px;
    }
.social-tarjeta .lis li a {
    color: #777;
    font-size: 1.3em; 
}
.social-tarjeta .lis li a:hover {
    color: rgb(255, 255, 255);  
}
/* Efecto Glicth*/
/* .cabecera .box h1::before,.cabecera .box h1::after
{
	content: attr(data-text);
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: -1;
} 
.cabecera .box h1::before
{
	color: #ff00c1;
	animation: glitch-effect 3s infinite;
}
.cabecera .box h1::after
{
	color: #3498db;
	animation: glitch-effect 3s infinite;
}
@keyframes glitch-effect{
	0%{
		left:-4px;
		top:-4px;
	}
	25%{
		
		left:4px;
		top:0px;

	}
	50%{
		
		left:-2px;
		top:4px;

	}
	75%{
		
		left:2px;
		top:-2px;

	}
	100%{
		
		left:0px;
		top:-4px;

	}
} */
